<div class="min-h-screen p-6 flex items-center justify-center text-white">
    <div class="container max-w-screen-lg mx-auto">
        <div>
            <h2 class="font-semibold text-xl text-white">Create Competition</h2>
            <p class="text-gray-500 mb-6">All Fields with (<span class="text-red-500 font-medium"> * </span>) are required.</p>

            <div class="rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1">

                    <form [formGroup]="competitionForm" (submit)="submit()" class="lg:col-span-2">
                        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-6">
                            <div class="md:col-span-6">
                                <label for="location">Competition Location</label>
                                <input type="text" name="location" id="location" placeholder="Competition Location" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 text-gray-800" value="" formControlName="location" />
                            </div>

                            <div class="md:col-span-6">
                                <label for="date">Competition Date</label>
                                <input type="date" name="date" id="date" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 text-gray-800" value="" placeholder="email@domain.com" formControlName="date"/>
                            </div>

                            <div class="md:col-span-3">
                                <label for="numberOfParticipants">Number of Participants</label>
                                <input type="number" name="numberOfParticipants" id="numberOfParticipants" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 text-gray-800" placeholder="" min="10" max="50" formControlName="numberOfParticipants" />
                            </div>

                            <div class="md:col-span-3">
                                <label for="amount">Amount</label>
                                <input type="number" name="amount" id="amount" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50 text-gray-800" placeholder="" min="100" formControlName="amount" />
                            </div>

                            <div class="md:col-span-3">
                                <label for="statTime">Start Time</label>
                                <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                    <input type="time" name="startTime" id="startTime" placeholder="Start Time" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" formControlName="startTime" />
                                </div>
                            </div>

                            <div class="md:col-span-3">
                                <label for="endTime">End Time</label>
                                <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                                    <input type="time" name="endTime" id="endTime" placeholder="End Time" class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" formControlName="endTime" />
                                </div>
                            </div>
                    
                            <div class="md:col-span-6 mt-4 text-right">
                                <div class="inline-flex items-end">
                                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>