<table class="w-full text-left" *ngIf="data.ranking.length > 0">
    <thead>
        <tr class="text-gray-400">
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Name</th>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Family Name</th>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 hidden md:table-cell">Accession Date</th>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800">Nationality</th>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 sm:text-gray-400 text-white">Identity Document</th>
        <th class="font-normal px-3 pt-0 pb-3 border-b border-gray-200 dark:border-gray-800 sm:text-gray-400 text-white">Identity Number</th>
        </tr>
    </thead>
    <tbody class="text-gray-600 dark:text-gray-100">
        <tr *ngFor="let item of data?.ranking">
            <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                {{item.member.name}}
            </td>
            <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                {{item.member.familyName}}
            </td>
            <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 md:table-cell hidden">{{item.member.accessionDate}}</td>
            <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800 text-red-500">{{item.member.nationality}}</td>
            <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                {{item.member.identityDocument}}
            </td>
            <td class="sm:p-3 py-2 px-1 border-b border-gray-200 dark:border-gray-800">
                {{item.member.identityNumber}}
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="data.ranking.length == 0">
    No Members Found
</p>